.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#28709F, #F8F9FB);
    height: 100px;
    padding: 0.5%;
    text-align: center;
}

.image {
    display: inline-block;
    height: 90%;
    width: auto;
}

.profile {
    display: inline-block;
    margin-top: 10px;
    background-color: #808080;
    border-radius: 50%;
    height: 90%;
    aspect-ratio: 1/1;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    width: 40%;
   
}

select {
    background-color: #1F71A7;
    height: 150%;
    border-radius: 5%;
    padding: 5px;
  
    border: 1px solid white;
    outline: none;
}

.searchBox {
    height: 150%;
    border-radius: 5%;
    width: 60%;
    border: 1px solid #1F71A7;
    outline: none;
}

.searchButton {
    background-color: #1F71A7;
    height: 150%;
    border-radius: 10%;
    border: 1px solid white;
    outline: none;
}
