@model JooleGroupProject.ServiceLayer.Models.UserDTO

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="Login" method="post">
    Username: <input name="username" id="Text1" type="text" />
    Password: <input name="password" id="Password1" type="password" />"text" />
    <input id="Button1" type="submit" value="button" />

</form>
