@model JooleGroupProject.UI.Models.SearchViewModel

<form>
    <select id="categorySelector">
        @foreach (var category in @Model.Categories)
        {
            <option value=@category.CategoryID style="background-color: white" selected=@Model.selectedCategoryID.Equals(@category.CategoryID)>@category.CategoryName</option>
        }
    </select>

    <input id="subcategorySelector" type="text" placeholder="Search" class="searchBox" />

    <button id="search" class="searchButton" type="button">
        <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
    </button>



</form>




@section Styles {
    <style>
        /* Custom CSS for this specific view */
        form {
            text-align: center;
            width: 600px;
            height: 30px;
        }

        select {
            display: inline-block;
            background-color: #1F71A7;
            height: 95%;
            border-radius: 5%;
            padding: 5px;
            border: 1px solid white;
            outline: none;
        }

        .searchBox {
            display: inline-block;
            margin-left: -2px;
            height: 95%;
            border-radius: 5%;
            width: 400px;
            border: 1px solid #1F71A7;
            outline: none;
        }

        .searchButton {
            display: inline-block;
            background-color: #1F71A7;
            height: 95%;
            border-radius: 10%;
            border: 1px solid white;
            outline: none;
        }
    </style>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#categorySelector").on("change", function () {
                var selectedOption = $(this).val();
                updateAutocompleteSource(selectedOption);
            });
        });

        function updateAutocompleteSource(selectedOption) {
            axios.post("/Search/selectCategory", { data: selectedOption })
                .then(function (response) {
                    console.log("success");

                    var autocompleteSource = response.data.tags;

                    console.log("data: " + response.data.tags);

                    $("#subcategorySelector").autocomplete({
                        source: autocompleteSource
                    });
                })
                .catch(function (error) {
                    console.log("Error:", error);
                });
        }
        $(document).ready(function () {
            var selectedOption = $("#categorySelector").val();
            axios.post("/Search/selectCategory", { data: selectedOption })
                .then(function (response) {
                    console.log("success");

                    var autocompleteSource = response.data.tags;

                    console.log("data: " + response.data.tags);

                    $("#subcategorySelector").autocomplete({
                        source: autocompleteSource
                    });
                })
                .catch(function (error) {
                    console.log("Error:", error);
                });
        });

        document.getElementById("search").addEventListener("click", function () {

            var selectedCategoryName = $("#categorySelector option:selected").text(); // Get the selected category name
            //subcategory name
            var selectedSubCategory = document.getElementById("subcategorySelector").value;

            console.log(selectedCategoryName);
            console.log(selectedSubCategory);

            // Construct the URL with parameters
            var destinationURL = "/SearchResult/Index" +
                "?categoryName=" + encodeURIComponent(selectedCategoryName) +
                "&subCategoryName=" + encodeURIComponent(selectedSubCategory);

            // Redirect to the new URL
            window.location.href = destinationURL;

            //axios.post("/Search/toResult", {

            //    //categoryID: selectedCategory,
            //    data: selectedSubCategory

            //})
            //    .then(function (response) {
            //        console.log(response.data);
            //        window.location.href = response.data;
            //    })
            //    .catch(function (error) {
            //        console.log("Error:", error);
            //    })
        })
    </script>

}




