@model JooleGroupProject.UI.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Background.cshtml";
}

<div id="partialContainer">
    @Html.Partial("SearchBox", Model)
</div>
