@model JooleGroupProject.UI.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Background.cshtml";
}


<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>


    </style>
</head>

<body>
    <div class="container" style="margin-top: 10%">

        <div style="width: 60%; margin: 0 20% 0 20%; text-align: center">
            <img src="~/Content/Resources/joole-logo.png" style="width: 50%" />
            <p style="font-size: 18px">Building Product Selection Platform</p>
            <div style="display: inline-block">
                @Html.Partial("SearchBox", Model)
            </div>
        </div>
    </div>

</body>
</html>

