@model JooleGroupProject.UI.Models.SearchViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductResult</title>
</head>
<body>
    @Html.Partial("Navbar", @Model)
    <div>
        <h2>ProductResult</h2>
        <h2>@Model.selectedSubCategoryName</h2>
        <h2>@Model.selectedSubCategoryID</h2>
        <h2>@Model.selectedCategoryName</h2>
    </div>
</body>
</html>

